<%-include("../includes/header")%>
<!---->



<div class="login-wrapper">
<header>
    <h2 class="header-login"><i class="fas fa-user-cog"></i> <br />Admin</h2>
</header>

<form class="login-form" method="POST">
    <div class="input-wrapper">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="input-wrapper">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div class="btn-wrapper">
        <button type="submit">Sign In</button>
    </div>
</form>

</div>

<!-- Search Section-->
<%-include("./../includes/footer")%>