<%-include("./includes/header")%>
<!---->



<div class="contain-login">
<header>
    <h2 class="header-login"><i class="fas fa-user-cog"></i> <br />Admin</h2>
</header>

<div id="set">


    <div class="login-box">

        <div class="textbox">
            <i class="fas fa-user"></i>
            <input style="color:#000000"type="text" placeholder="Username">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input style="color:#000000" type="password" placeholder="Password">
        </div>
        <input type="checkbox" class="check">Remember Me</input>

        <input type="button" class="button" value="Sign in">
    </div>


</div>

</div>









<!-- Search Section-->
<%-include("./includes/footer")%>